.grid-wrapper {
    display: grid;
    width: 600px;
    height: 600px;
    display: relative;
    position: absolute;
    top: 0;
}

.gridItem {
    cursor: pointer;
}

.grid-image-wrapper {
    position: relative;
}



