.grid-wrapper {
    display: grid;
}

.gridItem {
    border: 1px solid black;
    cursor: pointer;
    z-index: 2;
    opacity: 75%;
}

.img-overlay {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 600px;
    
}


