.upload-menu-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2%;
    column-gap: 1%;
    max-width: 800px;
}

.upload-file {
    opacity: 0; 
    position: absolute; 
    background: yellowgreen;
    width: 50%;
}

.upload-file:hover {
    cursor: pointer;
    background: #ffddd2;
}


