.upload-menu-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2%;
    column-gap: 1%;
    max-width: 800px;
}

.upload-button,
.upload-button-wrapper {
    height: 3rem;
    background: #E29578;
    border: #bb603f;;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: black 2px 2px 2px;
    font-size: .8rem;
    width: 99%;
}

.upload-file {
    opacity: 0; 
    position: absolute; 
    background: yellowgreen;
    width: 50%;
}

.upload-button-wrapper:hover,
.upload-button:hover,
.upload-file:hover {
    cursor: pointer;
    background: #ffddd2;
}

.adjustment-sliders-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4rem;
}

.slider-label {
    width: 45%;
    text-align: center;
}

.slider {
    width: 55%;
    margin-top: .5rem;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
}

@media screen and (max-width: 900px) {
    .upload-menu-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .upload-button,
.upload-button-wrapper {
    width: 90%;
}

.show-photo-size-wrapper {
    margin-top: .5rem;
}
    
}