.draw-wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: white;
}

.draw-grid-image-wrapper {
    position: absolute;
    top: 0;
    z-index: 0;
}


.draw-grid-wrapper {
    z-index: 1;
    position: relative;
}