.new-photo-menu-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 70%;
}

.new-photo-input-label {
    font-weight: bold;
    margin-bottom: 15px;
}

.new-photo-input-dimensions {
    margin-bottom: 15px;
    height: 1.5em;
}


.button-menu {
    width: 20%;
    padding: 10px;
}

.show-photo-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

